@import 'node_modules/bootstrap/scss/bootstrap';

$main_bg: #A8DADC;


* {
    margin: 0;
    padding: 0;   
}

body {
    background: {
        image: url('../assets/bg.svg');
        size: cover;
        position: 5% 16%;
    };
    background-color: $main_bg;
}